# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
local_settings.py

# Media / uploads (IMPORTANT)
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store